@import "variables",
        "mixins";

html, body {
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    color: $general-font-color;
    background-color: #2E3236;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    @include primary-font;
}

@media screen and (max-width: 1024px) {
    h1, h2, h3, h4, h5, h6, p {
        @include primary-font;
        @include unselectable;
    }
}

.hide {
    display: none;
}

.highlight {
    background-color: $site-gray;
}

h2.fancy {
    font-size: 20px;
    color: $csch-color-dark;
    position: relative;

    &:before {
        @include link-animation;
        @include link-hover-animation;
        background-color: $csch-color-dark;
        width: 105%;
        margin-left: -2.5%;
    }
}
