.main-header {
    height: 70vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)), url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5vw;
    padding-top: 20vh;
}

.header-text {
    color: white;
    font-weight: bold;
    line-height: 1.25
}

.header-text.large {
    font-size: 30px;
}

.header-text.small {
    font-size: 16px;
    margin-top: 5vh;
}

.widget {
    height: 300px;
    width: 400px;
}

@media screen and (max-width: 1024px) {
    .header-text.large {
        font-size: 16px;
    }

    .header-text.small {
        font-size: 10px;
    }
}

@media screen and (max-width: 768px) {
    .main-header {
        flex-direction: column;
        height: 100vh;
        padding-top: 15vh;
    }

    .header-text {
        text-align: center;
    }

    .header-text.large {
        font-size: 20px;
    }

    .header-text.small {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .main-header {
        justify-content: center;
    }

    .widget {
        width: 300px;
        height: 250px;
        margin-top: 5vh;
    }
}
