@mixin primary-font {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    color: $offwhite;
}

@mixin secondary-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    line-height: 20px;
    color: $offwhite;
}

@mixin short-transition {
    transition: all 0.1s ease;
}

@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin disabled($color: $site-gray, $background-color: transparent, $border-color: transparent) {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
    cursor: default;
}

@mixin link-animation {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: lighten($csch-color-lighter, 5%);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

@mixin link-hover-animation {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
