@import "variables",
        "mixins";

.main-nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2vw;
    justify-content: space-between;
    @include unselectable;
    box-shadow: 0 5px 10px -5px black;
    position: fixed;
    background-color: white;
    z-index: 1;
}

.logo {
    height: 40px;
    transition: all .2s ease;

    &:hover {
        cursor: pointer;
        transform: rotate(360deg);
    }
}

.nav-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    margin-left: 3vw;
    color: $csch-color-dark;
    transition: 0.15s ease;
    position: relative;

    &:hover {
        cursor: pointer;
        color: $csch-color-light;
    }

    &:before {
        @include link-animation;
        background-color: $csch-color-light;
    }

    &:hover:before {
        @include link-hover-animation;
    }
}

.nav-item-container a:nth-child(3) li {
    @include disabled($site-gray);

    &:hover {
        @include disabled($site-gray);
    }

    &:before {
        @include disabled($site-gray);
    }

    &:hover:before {
        @include disabled($site-gray);
    }
}

.nav-button {
    margin-left: 3vw;
    color: $csch-color-dark;
    transition: 0.15s ease;
    border: 2px solid $csch-color-dark;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s ease;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
        cursor: pointer;
        color: white;
        border: 2px solid $csch-color-light;
        background-color: $csch-color-light;

        .nav-button-image {
            transform: rotate(360deg);
        }
    }
}

.nav-button-image {
    width: 20px;
    margin-left: 10px;
    transition: 0.2s ease;
}

@media screen and (max-width: 500px) {
    .nav-button {
        padding: 5px 10px;
        text-align: center;
    }

    .nav-button-image {
        display: none;
    }
}
