// general
$general-font-color: #000;
$site-gray: rgba(150, 150, 150, 1);
$csch-color-darkest: #005a31;
$csch-color-darker: #007a42;
$csch-color-dark: #2FCC71;
$csch-color-light: #3EB07C;
$csch-color-lighter: #ceffe8;
$discord-brand-color: #7289da;
$discord-darker: #202225;
$discord-dark: #32363a;
$offwhite: #f9f9f9;
$neon-green: #00FF3E;
