// general
$general-font-color: #000;
$site-gray: rgba(150, 150, 150, 1);
$csch-color-darkest: darken(#2FCC71, 15%);
$csch-color-darker: darken(#2FCC71, 5%);
$csch-color-dark: #2FCC71;
$csch-color-light: #2FCC71;
$csch-color-lighter: #e5fff2;
$discord-brand-color: #7289da;
$discord-darker: #202225;
$discord-dark: #32363a;
$offwhite: #f9f9f9;
$neon-green: #00FF3E;
