<footer class="footer">
    <div class="footer-content-container left">
        <h4>General Inquiries</h4>
        <a class="footer-link" href="mailto:info@cscareerhackers.org">info@cscareerhackers.org</a>

        <div></div>

        <h4>Partnerships</h4>
        <a class="footer-link" href="mailto:partners@cscareerhackers.org">partners@cscareerhackers.org</a>
    </div>
    <div class="footer-content-container right">
        <a target="_blank" href="https://discord.gg/6EyEDKk"><div class="footer-logo-container"><img class="footer-image" src="{{base}}/images/discord-logo.png" /></div></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCWFK2E2OoPHnIL_VMJXMu5A"><div class="footer-logo-container"><img class="footer-image" src="{{base}}/images/youtube-logo.png" /></div></a>
    </div>
</footer>
