<header class="main-header">
    <div class="header-content-container">
        <p class="header-text large">{{ include.firstLine }} <br> {{ include.secondLine }} <br> {{ include.thirdLine }}</p>
        <p class="header-text small">A community to discuss, mentor, and get advice <br> on careers in software engineering</p>
    </div>
    <div class="header-content-container">
        <iframe src="https://discordapp.com/widget?id=334891772696330241&theme=dark" width="400" height="300" allowtransparency="true" frameborder="0"></iframe>
    </div>
</header>
