<header class="main-header">
    <div class="header-content-container">
        <p class="header-text large">{{ include.firstLine }} <br> {{ include.secondLine }} <br> {{ include.thirdLine }}</p>
        <p class="header-text small">A community to discuss, mentor, and get advice <br> on careers in software engineering</p>
    </div>
    <div class="header-content-container">
        <embed class="widget" src="https://widgetbot.io/embed/334891772696330241/340166684675407872/0002/" />
    </div>
</header>
