{% include base.html %}
<nav class="main-nav">
    <a href="{{base}}/index.html"><img class="logo" src="{{base}}/images/csch-logo.png"/></a>
    <ul class="nav-item-container">
        <a href="{{base}}/about/index.html"><li class="nav-item">About</li></a>
        <a href="{{base}}/support/index.html"><li class="nav-item">Support</li></a>
        <a href="https://twitch.tv/cscareerhackers" target="_blank"><li class="nav-item">Twitch</li></a>
        <a href="https://www.youtube.com/channel/UCWFK2E2OoPHnIL_VMJXMu5A" target="_blank"><li class="nav-item">YouTube</li></a>
        <a target="_blank" class="about-discord-link" href="https://discord.gg/6EyEDKk">
            <li class="nav-button">Discord
                <img class="nav-button-image" src="{{base}}/images/discord-logo.png" />
            </li>
        </a>
    </ul>
</nav>
