---
layout: default
---

{% include header.html firstLine="Learn a bit more about" secondLine="our diverse community" thirdLine="of lifelong-learners" %}

<div class="about-container">
    <div class="about-content-container about-history">
        <h2>HISTORY</h2>
        <p>
            It all started when Kevin created the TwitchLearnsProgramming community on Twitch.tv in 2015, where he streamed mock interviews of candidates ranging from 1st year university students to senior software engineers. These streams garnered a significant viewer base. Then, Kevin created the CS Career Hackers Discord community in July of 2017, a more permanent collection of chat rooms designed to serve as a space where learners and experienced engineers alike could connect and discuss career and programming issues.
        </p>
        <p>
            Kevin then posted a link to join this community on the subreddit, /r/cscareerquestions. Within two weeks, over a thousand people had joined this community. From there, we've grown even more and have facilitated several mock interviews, discussions on interview and career questions, and a community-wide project. We hope to do so much more in the future. Join our community to learn more!
        </p>
    </div>

    <div class="about-content-container about-achievements">
        <h2>WHAT WE'VE ACHIEVED</h2>
        <ul>
            <div>
                <li>Over 5000 users have joined our community ranging from first year university students to hiring managers</li>
                <li>Facilitated dozens of mock interviews from candidates ranging from first year students to senior software engineers</li>
            </div>
            <div>
                <li>We're officially a 501c3 non-profit organization in Washington state</li>
                <li>Many members of our community have gotten promotions, raises, or new positions thanks to the discussions they've had in our community.</li>
            </div>
        </ul>
    </div>
</div>
