<!DOCTYPE html>
<html>
  <head>
    <!-- Site Information and SEO -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="A community of software engineers on a mission of lifelong learning">
    <meta name="author" content="Brenda Zhang">
    <meta name="keywords" content="CS Career Hub, CS Career Hackers, computer, science, technology, software, engineering, development, career, intern, discord, community">
    <meta property="title" content="CS Career Hub">
    <meta property="image" content="https://cscareerhub.com/images/csch-statico.png">
    <meta property="thumbnail" content="https://cscareerhub.com/images/csch-statico.png">
    <meta property="og:site_name" content="CS Career Hub">
    <meta property="og:title" content="CS Career Hub">
    <meta property="og:image" content="https://cscareerhub.com/images/csch-statico.png">
    <meta name="og:description" content="A community of software engineers on a mission of lifelong learning">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://cscareerhub.com">

    <meta property="twitter:image" content="https://cscareerhub.com/images/csch-long.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:description" content="A community of software engineers on a mission of lifelong learning">
    <meta property="twitter:title" content="CS Career Hub">

    <link rel="icon" href="{{base}}/images/csch-statico-round.png">
    <title>CS Career Hub | Home</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Karla|Montserrat" rel="stylesheet">

    <!-- CSS CDNs -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.4/css/jquery.terminal.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="{{base}}/css/main.min.css" rel="stylesheet" type="text/css">

    <!-- JS CDNs -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/1.11.4/js/jquery.terminal.min.js"></script>

    <!-- Custom Scripts -->
    <!-- <script type="text/javascript" src="{{base}}/js/main.js"></script> -->

  </head>
  <body>
    <div class="site-container">
        {% include nav.html %}

        {{ content }}

        {% include footer.html %}
    </div>
  </body>
</html>
