---
layout: default
---

{% include header.html firstLine="We created a community of" secondLine="software engineers on a mission" thirdLine="of lifelong-learning" %}

<div class="about-discord-container">
    <div class="about-discord-item">
        <a target="_blank" class="about-discord-link" href="https://discord.gg/6EyEDKk"><div class="about-discord-icon-container"><img class="about-discord-icon" src="{{base}}/images/career.png" /></div></a>
        <p class="about-discord-description-heading">Career discussion</p>
        <p class="about-discord-description">Engage in discussion about anything career-related and get advice from peers, experienced devs, engineers, and recruiters.</p>
    </div>
    <div class="about-discord-item">
        <a target="_blank" class="about-discord-link" href="https://discord.gg/6EyEDKk"><div class="about-discord-icon-container"><img class="about-discord-icon" src="{{base}}/images/interviews.png" /></div></a>
        <p class="about-discord-description-heading">Live mock interviews</p>
        <p class="about-discord-description">Participate in, and trade, live mock interviews with peers, devs, and recruiters. Ask questions and get answers to questions about interview processes.</p>
    </div>
    <div class="about-discord-item">
        <a target="_blank" class="about-discord-link" href="https://discord.gg/6EyEDKk"><div class="about-discord-icon-container"><img class="about-discord-icon" src="{{base}}/images/resume.png" /></div></a>
        <p class="about-discord-description-heading">Resume reviews</p>
        <p class="about-discord-description">Need more eyes to take a look at your resume? This community can help you improve it for your next job-hunting season.</p>
    </div>
    <div class="about-discord-item">
        <a target="_blank" class="about-discord-link" href="https://discord.gg/6EyEDKk"><div class="about-discord-icon-container"><img class="about-discord-icon" src="{{base}}/images/community.png" /></div></a>
        <p class="about-discord-description-heading">Diverse community</p>
        <p class="about-discord-description">From students to mid-level devs to recruiters and even some hardware people here and there, members of this community come from all backgrounds.</p>
    </div>
</div>
