---
layout: default
---

{% include header.html firstLine="Give back to our growing" secondLine="community and support new" thirdLine="projects and improvements" %}

<div class="support-container">
    <div class="support-content-container">
        <h2>Donate</h2>
        <p>Your donation allows us to manage non-profit costs and the costs of running the website and community-created projects.</p>
        <div class="support-link-container disabled"><a>Make a direct donation</a></div>
        <div class="support-link-container disabled"><a>Support us on Patreon</a></div>
    </div>
    <div class="support-content-container">
        <h2>Spread the Word</h2>
        <p>Tell your friends and family about our community if they are an engineer or aspire to be one! Or just join in on the fun.</p>
        <div class="support-link-container"><a target="_blank" href="https://discord.gg/6EyEDKk">Join our community</a></div>
        <div class="support-link-container disabled"><a>Engage in Discourse</a></div>
    </div>
</div>
