---
layout: default
---

{% include header.html firstLine="Meet the team that works hard" secondLine="to support the community" thirdLine="and its people" %}

<div class="team-container">
    <div class="team-row">
        {% include team-member.html name="Kevin (@Kevin)" title="Server Owner" pic="none" %}
        {% include team-member.html name="John (@Morgos)" title="Server Owner" pic="john.png" %}
        {% include team-member.html name="@asyncawake" title="Server Admin" subtitle="Bot Developer" pic="async.png" %}
        {% include team-member.html name="Brenda (@brendada)" title="Server Admin" subtitle="Web & Bot Developer" pic="brenda.gif" picClass="nopadding" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@enufstuff" title="Server Admin" pic="none" status="inactive" %}
        {% include team-member.html name="@mauri" title="Server Admin" pic="mauri.png" %}
        {% include team-member.html name="Peter (@Peter)" title="Server Admin" pic="none" %}
        {% include team-member.html name="@veremit" title="Server Admin" pic="veremit.png" status="inactive" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@Nik" title="Head Server Mod" subtitle="Bot Developer" pic="nik.png" %}
        {% include team-member.html name="@amicus_elit" title="Server Mod" pic="amicus.png" status="inactive" %}
        {% include team-member.html name="@csgator" title="Server Mod" pic="none" %}
        {% include team-member.html name="@Jeremy" title="Server Mod" pic="jeremy.png" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@KensoDev" title="Server Mod" pic="kenso.png" %}
        {% include team-member.html name="@Kireinai_Asrai" title="Server Mod" pic="kireinai.png" status="inactive" %}
        {% include team-member.html name="Josh (@Manny)" title="Server Mod" pic="manny.png" %}
        {% include team-member.html name="@Gopher" title="Server Mod" subtitle="Bot Developer" pic="gopher.png" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@TamasHenning" title="Server Mod" pic="tamas.png" status="inactive" %}
        {% include team-member.html name="@whiplash" title="Server Mod" pic="whiplash.png" %}
        {% include team-member.html name="@CS_Career_Enthusiast" title="Channel Mod" pic="enthusiast.png" nameClass="smallname" %}
        {% include team-member.html name="@live" title="Channel Mod" pic="none" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@The Coconut Meme" title="Channel Mod" pic="coconut.png" %}
        {% include team-member.html name="@TolerableCoder" title="Channel Mod" pic="none" %}
        {% include team-member.html name="@Wickler (Scot)" title="Channel Mod" pic="wickler.png" %}
    </div>
</div>
