---
layout: default
---

{% include header.html firstLine="Meet the team that works hard" secondLine="to support the community" thirdLine="and its people" %}
<div class="team-container">
    <h2 class="fancy team">Active</h1>
    <div class="team-row">
        {% include team-member.html name="Kevin (@Kevin)" title="Server Owner" pic="none" %}
        {% include team-member.html name="Brenda (@brendada)" title="Server Admin" subtitle="Web & Bot Developer" pic="brenda.gif" picClass="nopadding" %}
        {% include team-member.html name="Peter (@Peter)" title="Server Admin" pic="none" %}
        {% include team-member.html name="Bri (@iNirvana)" title="Head Server Mod" pic="inirvana.png" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@Gopher" title="Head Server Mod" subtitle="Bot Developer" pic="gopher.png" %}
        {% include team-member.html name="@Jeremy" title="Head Server Mod" pic="jeremy.png" %}
        {% include team-member.html name="@Nik" title="Head Server Mod" subtitle="Bot Developer" pic="nik.png" %}
        {% include team-member.html name="Scot (@Wickler)" title="Head Server Mod" pic="wickler.png" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@CS_Career_Enthusiast" title="Server Mod" pic="enthusiast.png" nameClass="smallname" %}
        {% include team-member.html name="@Edin" title="Server Mod" pic="edin.png" %}
        {% include team-member.html name="@egyptian prince" title="Server Mod" pic="egyptian.png" %}
        {% include team-member.html name="Josh (@Manny)" title="Server Mod" pic="manny.png" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@live" title="Server Mod" pic="none" %}
        {% include team-member.html name="@The Coconut Meme" title="Server Mod" pic="coconut.png" %}
        {% include team-member.html name="@whiplash" title="Server Mod" pic="whiplash.png" %}
    </div>
</div>

<div class="team-container">
    <h2 class="fancy team">Inactive</h1>
    <div class="team-row">
        {% include team-member.html name="John (@Morgos)" title="Server Owner" pic="john.png" status="inactive" %}
        {% include team-member.html name="@enufstuff" title="Server Admin" pic="none" status="inactive" %}
        {% include team-member.html name="@mauri" title="Server Admin" pic="mauri.png" status="inactive" %}
        {% include team-member.html name="@veremit" title="Server Admin" pic="veremit.png" status="inactive" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@amicus_elit" title="Server Mod" pic="amicus.png" status="inactive" %}
        {% include team-member.html name="@csgator" title="Server Mod" pic="none" status="inactive" %}
        {% include team-member.html name="@KensoDev" title="Server Mod" pic="kenso.png" status="inactive" %}
        {% include team-member.html name="@Kireinai_Asrai" title="Server Mod" pic="kireinai.png" status="inactive" %}
    </div>
    <div class="team-row">
        {% include team-member.html name="@LtHummus" title="Server Mod" pic="lthummus.png" status="inactive" %}
        {% include team-member.html name="@NixiePixel" title="Server Mod" pic="lthummus.png" status="inactive" %}
        {% include team-member.html name="@OGArist0tle" title="Server Mod" pic="ogarist0tle.png" status="inactive" %}
        {% include team-member.html name="@TamasHenning" title="Server Mod" pic="tamas.png" status="inactive" %}
    </div>
</div>